# Created by .ignore support plugin (hsz.mobi)
### Jekyll template
_site/
.sass-cache/


### Vim template
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
./.idea
.jekyll-metadata
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
