---
layout: bare
body_class: home
leadingpath: ./
permalink: /blog
title: Random musings
subpage: blog
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/blog">Blog</a></li>
  </ol>
</nav>

{% for post in site.posts %}
  {% if post.published %}
<div class="row pb-2">
  <div class="container">
    <a href="{{ post.url }}" style="text-decoration: none; color:  #3EA055;"><h5>{{ post.title }}</h5></a>
    <div class="breadcrumb-item"> {{ post.date |  date: '%B %d, %Y' }} • {% include readingtime.erb page_content=post.content %}</div>
  </div>
  <p>
  <div class="container bg-light">
    {{ post.content | strip_html | truncatewords:75}}
  </div>
  <p>
    <div class="container pb-4"><a href="{{ post.url }}">Read more</a> </div>  
</div>
  {% endif %}
{% endfor %}
