---
layout: content
body_class: home
leadingpath: ./
permalink: /blog
title: Random musings
subpage: blog
---
{% for post in site.posts %}
<div class="row pb-2">
  <div class="container">
    <a href="{{ post.url }}" style="text-decoration: none; color:  #3EA055;"><h5>{{ post.title }}</h5></a>
    <div class="breadcrumb-item"> {{ post.date |  date: '%B %d, %Y' }} • {% include readingtime.erb %}</div>
  </div>
  <p>
  <div class="container bg-light">
    {{ post.content | strip_html | truncatewords:75}}
  </div>
  <p>
    <div class="container pb-4"><a href="{{ post.url }}">Read more</a> </div>  
</div>
{% endfor %}
