---
layout: bare
leadingpath: ./
permalink: /
title: Hello!
description: Thoughts on technology, product design and  software engineering. Discover content on building impactful teams, org and software products.
lead_image: ajey_gore_website_card.png
---
<div class="row">
    <div class="col-md-12">
        <div class="row pb-2">
            <div class="site-headline">AJEY GORE</div>
            <br/>
            <p class="pt-3">
                I work as CTO/Operating Partner at <a href="https://peakxv.com" target="_blank"><b>PeakXV partners 
                    </b></a> (FKA Sequoia Capital India & SEA). I work with Founders, CTOs, CPOs to help them with various subjects related to product management, software engineering and building & scaling product engineering organisation.
                    And I <a href="/experiments"><b>experiment</b></a> with tech..
            </p>

            <p class="pt-3">
               When building products we should be in <b>Ideate, Implement, Iterate</b> loop, and in <b>Code, Deploy, Automate</b> loop when writing software.
            </p>
        </div>
        <br/>
        <div class="row">
            <h3>Posts</h3>
        </div>

        {% for post in site.posts %}
        <div class="row pb-5 pt-3">
            <div class="col-sm-4">
                <a class="post-title-link" href="{{ post.url }}">
                    <img width="100%" src="/assets/images/{{ post.lead_image | default: site.lead_image }}"
                         alt="{{ post.title }}">
                </a>
            </div>
            <div class="col-sm-8">
                <p class="breadcrumb-item">{{ post.date | date: '%B %d, %Y' }} • {% include readingtime.erb
                    page_content=post.content %}</p>
                <a class="post-title-link" href="{{ post.url }}">
                    <div class="post-title-small">{{ post.title}}</div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- <div class="col-md-3"> -->
    <!--     <div class="card border-dark mb-3"> -->
    <!--         <a class="twitter-timeline" data-height="700px" data-theme="light" -->
    <!--            href="https://twitter.com/AjeyGore?ref_src=twsrc%5Etfw">Tweets by AjeyGore</a> -->
    <!--         <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
    <!--     </div> -->
    <!-- </div> -->
</div>



