<nav class="navbar is-fixed is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://ajeygore.in"> Ajey | अजेय     </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-site" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="">
        blog
      </a>

      <a class="navbar-item">
        talks
      </a>

      <a class="navbar-item" >
        bookshelf
      </a>

      <a class="navbar-item" href="/about">
        about
      </a>

    </div>

  </div>
</nav>
