<link href='http://fonts.googleapis.com/css?family=Libre+Franklin:wght@300&display=swap' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?Noto+Sans+JP:wght@100&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Domine&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Delius+Unicase&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond&family=Quattrocento&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Kalam:wght@300&family=Caveat&display=swap" rel="stylesheet">
