<header>
  <div class="navbar-fixed-top container d-flex flex-column flex-md-row align-items-center pb-3 mb-4 px-4 border-bottom bg-white">
    <a href="/" class="name-header d-flex align-items-center mt-4">
      Ajey Gore
    </a>

    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto mt-4">
         {% for item in site.data.navigation %} 
           <a class="me-3 py-2 menu-item" href="{{ item.link }}" {% if page.url == item.link %}style="color: #3EA055; text-decoration: underline"{% endif %} {% if item.name contains "Foowar" or item.name contains "Sequoia"%}target="_blank"{%endif%}> 
             {{item.name}} 
           </a> 
         {% endfor %} 
    </nav>
  </div>
</header>
