<!-- <div class="hero&#45;head top&#45;menu"> -->
<!--   <div class="columns is&#45;mobile is&#45;marginless"> -->
<!--     <div class="column left"> -->
<!--       <p class="navbar&#45;item">Ajey Gore अजेय </p> -->
<!--     </div> -->
<!--     <div class="column right"> -->
<!--       <p class="navbar&#45;item desktop is&#45;white">Blog</p> -->
<!--       <p class="navbar&#45;item desktop">Talks &#38; Presentations</p> -->
<!--       <p class="navbar&#45;item desktop">Books</p> -->
<!--       <p class="navbar&#45;item desktop">Archive</p> -->
<!--       <p class="navbar&#45;item desktop">About</p> -->
<!--       <figure class="navbar&#45;item image has&#45;text&#45;black center"> -->
<!--         <i class="fas fa&#45;bars" style="width: 1rem; height: 1rem;"></i> -->
<!--       </figure>  -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->
<!--  -->


<nav class="navbar is-fixed is-transparent" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      Ajey Gore अजेय     </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbar-site" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item">
        blog
      </a>

      <a class="navbar-item">
        talks
      </a>

      <a class="navbar-item">
        bookshelf
      </a>

      <a class="navbar-item">
        about
      </a>

    </div>

  </div>
</nav>
