<div class="hero-head top-menu">
  <div class="columns is-mobile is-marginless">
    <div class="column left">
      <p class="navbar-item">Ajey Gore</p>
    </div>
    <div class="column right">
      <p class="navbar-item desktop is-white">Blog</p>
      <p class="navbar-item desktop">Talks & Presentations</p>
      <p class="navbar-item desktop">Books</p>
      <p class="navbar-item desktop">Archive</p>
      <p class="navbar-item desktop">About</p>
      <figure class="navbar-item image has-text-black center">
        <i class="fas fa-bars" style="width: 1rem; height: 1rem;"></i>
      </figure> 
    </div>
  </div>
</div>

