.page-header {
  font-family: 'Dancing Script', Georgia, serif;
  font-size: 42pt;
  text-align: center;
  text-shadow: 4px 4px 4px #aaa;
}

.div-center {
  text-align: center;
}

.post-container {
  width: 600px;
  align: center;
}

.slogan {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 14pt;
}

.menu-item {
  font-family: 'Raleway', sans-serif;
  font-size: 12pt;
  font-color: black;
}

h4 {
  font-family: 'Raleway', sans-serif;
}
h2 {
  font-family: 'Nunito', sans-serif;
  font-size: 16pt;
}
body {
  font-family: 'Roboto', sans-serif;
}
