.name-header {
  font-size: 16pt;
  text-align: center;
  color: '#1695A3';
  font-family: "Delius Unicase";
  text-decoration: none;
}

.name-header-small {
  font-size: 24pt;
  text-align: center;
}


.slogan {
  font-family: 'Caveat', sans-serif;
  font-size: 18pt;
}

.menu-item {
  font-family: 'Caveat', sans-serif;
  font-size: 16pt;
  color: black;
  text-decoration: none;
}

#hover-text {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; 
}

#hover-text:hover {
  letter-spacing: 3px; 
}

.home-underline {
  border-bottom: 2px solid #3EA055;
}

a {
  color: black;
}

a:link, a:visited {
  color: black;
  cursor: pointer;
}

a:hover {
  color: #3EA055;
  cursor: pointer;
}

.home-side-bar {
  font-size: 10pt;
}
blockquote {
  font-family: 'Kalam', serif;
  color: #3EA055;
}

h6, h4, h2, h3, h5 {
  color: #2DA044;
}

h2 {
  font-size: 16pt;
}
body {
  font-family: 'Libre Franklin', serif;
  font-size: 12pt;
}

b {
  font-weight: 800;
}

html {
  font-size: 12pt;
}
@media (min-width: 768px) {
  html {
    font-size: 12pt;
  }
}

.container {
  max-width: 960px;
}

.website-header {
  max-width: 700px;
}

/*
 * Navbar toggle icon
 */
.navbar-toggle .icon-bar{
  width: 25 !important;
  height:2px !important;
}


.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 5px solid blue; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
/* Animate hamburger
 * */

  .container {
  max-width: 960px;
}

.site-header {
  max-width: 700px;
}
