<!DOCTYPE html>
<html lang="en">
  {{ content }}

  <script>
    $(document).ready(function() {
      var palettes = [
        ['#9AECDB', '#63cdda', '#c7ecee'],
        ['#f7f1e3', '#7ed6df', '#CAD3C8']
      ];
      var randomPalette = palettes[Math.floor(Math.random() * palettes.length)];

      var new_bgcolor = randomPalette[0];
      var new_textcolor = randomPalette[1];
      var new_bordercolor = randomPalette[2];

      $('#color-div').css({
        'background-color': new_bgcolor,
        //'color': new_textcolor,
        //'border-color': new_bordercolor
      });
    });
  </script>
</html>
