<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ajey Gore</title>
    <meta name="description" content="Ajey's personal website">
    <meta name="author" content="Ajey Gore">
    <link rel="stylesheet" 
          href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.0/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <!-- <link rel="stylesheet" href="styles/debug.css"> -->
    <link href="{{ page.leadingpath }}assets/css/override.css" rel="stylesheet">
  </head>
  <body>
    {{ content }}
  </body>
</html>

