---
layout: bare
---

<div class="row">
  <div class="col-md-4 container text-center side-bar">

    <div class="container">
      <i class="bi bi-chat-text"></i> 
      <a href="/blog" class="home-underline" style="text-decoration: none">
      <span class="home-underline" style="font-decoration: none;">Musings</span>
      </a>
    </div>
    <hr/>

    <div class="container">
      <i class="bi bi-file-earmark-slides"></i> 
      <a href="/content/talks" class="home-underline" style="text-decoration: none">
      <span>Talks</span>
      </a>
    </div>
    <hr/>

    <div class="container">
      <i class="bi bi-book-half"></i> 
      <span class="home-underline">Bookshelf</span>
    </div>
    <hr/>

    <div class="container">
      <i class="bi bi-person-lines-fill"></i> 
      <span class="home-underline">Life journey </span>
    </div>
    <hr/>

    {% include social_bar.html %}
  </div>

  <div class="col-md-8">

    {{ content }}

  </div>
</div>



