---
layout: content
---

<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-transparent">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/content">Content</a></li>
    <li class="breadcrumb-item active">Musings</li>
    <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
  </ol>
</nav>


<div class="post-title pb-2">
  {{ page.title }}
</div>
<p/>
  <div class="breadcrumb-item">{{ page.date | date: '%B %d, %Y' }} • {% include readingtime.erb page_content=page.content %}</div>
<p/>

<div id="share-page" class="pb-2">
        <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.author.twitter }}&related={{ site.author.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter" style="color: #33B2FF;">
     Share 
 <i class="sharepage bi bi-twitter"></i>
</a>
</div>
{{ content }}
