---
layout: bare
---
<head>
  <meta charset="utf-8">
  <title>Code.Deploy.Automate</title>
  <meta name="description"
  content="Ajey Gore"/>

  <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0">

  <meta name="description" content="Ajey's personal website">
  <meta name="author" content="Ajey Gore">

  <!-- Loading Bootstrap -->
  <link href="{{ page.leadingpath }}assets/bootstrap-4.4.1-dist/css/bootstrap.css" rel="stylesheet">

  <!-- Loading Overrides UI -->
  <link href="{{ page.leadingpath }}assets/css/override.css" rel="stylesheet">
  {% include fonts.html %}

</head>


<body>


  <div class="container div-center">
    <div class="page-header">
      Ajey Gore
    </div>
    <p class="slogan">Ideate, Implement, Iterate</p>
    <hr>
    <img src="{{ page.leadingpath }}assets/images/ajey_trsp.png" width="500px">
    <hr>
  </div>

  <div class="container div-center">
    {{ content }}
  </div>
  <!-- Bootstrap core JavaScript
   ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="{{ page.leadingpath }}assets/bootstrap-4.4.1-dist/js/bootstrap.js"></script>

</body>

